<!---- padding --->
.p-5{padding:5px;}
.p-10{padding:10px;}
.p-20{padding:20px;}
.p-30{padding:30px;}
.p-40{padding:40px;}
.p-50{padding:50px;}
.p-60{padding:60px;}
.p-70{padding:70px;}
.p-80{padding:80px;}
.p-90{padding:90px;}
.p-100{padding:100px;}
<!----  padding --->
<!---- top  padding --->
.p-top-5{padding-top:5px;}
.p-top-10{padding-top:10px;}
.p-top-20{padding-top:20px;}
.p-top-30{padding-top:30px;}
.p-top-40{padding-top:40px;}
.p-top-50{padding-top:50px;}
.p-top-60{padding-top:60px;}
.p-top-70{padding-top:70px;}
.p-top-80{padding-top:80px;}
.p-top-90{padding-top:90px;}
.p-top-100{padding-top:100px;}
<!---- top  padding --->
<!---- right  padding --->
.p-right-5{padding-right:5px;}
.p-right-10{padding-right:10px;}
.p-right-20{padding-right:20px;}
.p-right-30{padding-right:30px;}
.p-right-40{padding-right:40px;}
.p-right-50{padding-right:50px;}
.p-right-60{padding-right:60px;}
.p-right-70{padding-right:70px;}
.p-right-80{padding-right:80px;}
.p-right-90{padding-right:90px;}
.p-right-100{padding-right:100px;}
<!---- right  padding --->
<!---- padding-bottom--->
.p-bottom-5{padding-bottom:5px;}
.p-bottom-10{padding-bottom:10px;}
.p-bottom-20{padding-bottom:20px;}
.p-bottom-30{padding-bottom:30px;}
.p-bottom-40{padding-bottom:40px;}
.p-bottom-50{padding-bottom:50px;}
.p-bottom-60{padding-bottom:60px;}
.p-bottom-70{padding-bottom:70px;}
.p-bottom-80{padding-bottom:80px;}
.p-bottom-90{padding-bottom:90px;}
.p-bottom-100{padding-bottom:100px;}
<!---- padding-bottom--->
<!---- padding-left--->
.p-left-5{padding-left:5px;}
.p-left-10{padding-left:10px;}
.p-left-20{padding-left:20px;}
.p-left-30{padding-left:30px;}
.p-left-40{padding-left:40px;}
.p-left-50{padding-left:50px;}
.p-left-60{padding-left:60px;}
.p-left-70{padding-left:70px;}
.p-left-80{padding-left:80px;}
.p-left-90{padding-left:90px;}
.p-left-100{padding-left:100px;}
<!---- padding-left--->

<!---- margin --->
.m-5{margin:5px;}
.m-10{margin:10px;}
.m-20{margin:20px;}
.m-30{margin:30px;}
.m-40{margin:40px;}
.m-50{margin:50px;}
.m-60{margin:60px;}
.m-70{margin:70px;}
.m-80{margin:80px;}
.m-90{margin:90px;}
.m-100{margin:100px;}
<!----  margin --->
<!---- margin top --->
.m-top-5{margin-top:5px;}
.m-top-10{margin-top:10px;}
.m-top-20{margin-top:20px;}
.m-top-30{margin-top:30px;}
.m-top-40{margin-top:40px;}
.m-top-50{margin-top:50px;}
.m-top-60{margin-top:60px;}
.m-top-70{margin-top:70px;}
.m-top-80{margin-top:80px;}
.m-top-90{margin-top:90px;}
.m-top-100{margin-top:100px;}
<!---- top  margin --->
<!---- right  margin --->
.m-right-5{margin-right:5px;}
.m-right-10{margin-right:10px;}
.m-right-20{margin-right:20px;}
.m-right-30{margin-right:30px;}
.m-right-40{margin-right:40px;}
.m-right-50{margin-right:50px;}
.m-right-60{margin-right:60px;}
.m-right-70{margin-right:70px;}
.m-right-80{margin-right:80px;}
.m-right-90{margin-right:90px;}
.m-right-100{margin-right:100px;}
<!---- right  margin --->
<!---- bottom margin--->
.m-bottom-5{margin-bottom:5px;}
.m-bottom-10{margin-bottom:10px;}
.m-bottom-20{margin-bottom:20px;}
.m-bottom-30{margin-bottom:30px;}
.m-bottom-40{margin-bottom:40px;}
.m-bottom-50{margin-bottom:50px;}
.m-bottom-60{margin-bottom:60px;}
.m-bottom-70{margin-bottom:70px;}
.m-bottom-80{margin-bottom:80px;}
.m-bottom-90{margin-bottom:90px;}
.m-bottom-100{margin-bottom:100px;}
<!---- bottom margin--->
<!---- margin left--->
.m-left-5{margin-left:5px;}
.m-left-10{margin-left:10px;}
.m-left-20{margin-left:20px;}
.m-left-30{margin-left:30px;}
.m-left-40{margin-left:40px;}
.m-left-50{margin-left:50px;}
.m-left-60{margin-left:60px;}
.m-left-70{margin-left:70px;}
.m-left-80{margin-left:80px;}
.m-left-90{margin-left:90px;}
.m-left-100{margin-left:100px;}
<!---- margin left--->


<!---- Font Size--->
.font-size-10{font-size:10px;}
.font-size-20{font-size:20px;}
.font-size-30{font-size:30px;}
.font-size-40{font-size:40px;}
.font-size-50{font-size:50px;}
.font-size-60{font-size:60px;}
.font-size-70{font-size:70px;}
.font-size-80{font-size:80px;}
.font-size-90{font-size:90px;}
.font-size-100{font-size:100px;}
<!---- Font Size--->