.btn{
	margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;

    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;

}
.btn:hover{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.btn-rounded{
	border-radius: 10em;
}
.btn-lg{
	font-size:25px;
}
.btn-sm{
	font-size:12px;
}
.btn-silver{
	color:#fff;
	background: #C0C0C0;
	border-color: #C0C0C0;
}
.btn-silver:hover{
	color:#fff;
	background: #b8b6b6;
	border-color: #b8b6b6;
}
.btn-grey{
	color:#fff;
	background: #808080;
	border-color: #808080;
}
.btn-grey:hover{
	color:#fff;
	background: #686767;
	border-color: #686767;
}

.btn-black{
	color:#fff;
	background: #000000;
	border-color: #000000;
}
.btn-black:hover{
	color:#fff;
	background: #555353;
	border-color: #555353;
}
.btn-red{
	color:#fff;
	background: #FF0000;
	border-color: #FF0000;
}
.btn-red:hover{
	color:#fff;
	background: #e54545;
	border-color: #e54545;
}
.btn-maroon{
	color:#fff;
	background: #800000;
	border-color: #800000;

}
.btn-maroon:hover{
	color:#fff;
	background: #5b0202;
	border-color:#5b0202;

}
.btn-yellow{
color:black;
	background: #FFFF00;
	border-color: #FFFF00;
}
.btn-yellow:hover{
color:black;
	background: #caca01;
	border-color: #caca01;
}
.btn-olive{
color:#fff;
	background: #808000;
	border-color: #808000;
}
.btn-olive:hover{
color:#fff;
	background: #666603;
	border-color: #666603;
}
.btn-lime{
	color:black;
	background: #00FF00;
	border-color: #00FF00;
}
.btn-lime:hover{
	color:black;
	background: #06d906;
	border-color: #06d906;
}
.btn-green{
	color:#fff;
	background: #008000;
	border-color: #008000;
}
.btn-green:hover{
	color:#fff;
	background: #035503;
	border-color: #035503;
}

.btn-aqua{
	color:black;
	background: #00FFFF;
	border-color: #00FFFF;
}
.btn-aqua:hover{
	color:black;
	background: #05d7d7;
	border-color: #05d7d7;
}
.btn-teal{
	color:#fff;
	background: #008080;
	border-color: #008080;
}
.btn-teal:hover{
	color:#fff;
	background: #035757;
	border-color: #035757;
}

.btn-blue{
	color:#fff;
	background: #0000FF;
	border-color: #0000FF;
}
.btn-blue:hover{
	color:#fff;
	background: #0505a7;
	border-color: #0505a7;
}
.btn-navy{
color:#fff;
background: #000080;
	border-color: #000080;
}
.btn-navy:hover{
color:#fff;
background: #020255;
	border-color: #020255;
}
.btn-fuchsia{
color:#fff;
background: #FF00FF;
	border-color: #FF00FF;
}
.btn-fuchsia:hover{
color:#fff;
background: #a919a9;
	border-color: #a919a9;
}
.btn-purple{
	color:#fff;
	background: #800080;
	border-color: #800080;
}
.btn-purple:hover{
	color:#fff;
	background: #490349;
	border-color: #490349;
}

.btn-outline-silver {
	color: #C0C0C0;
	border:1px solid #C0C0C0;
}
.btn-outline-silver:hover {
	color: #fff;
	background: #C0C0C0;
	border:1px solid #C0C0C0;
}
.btn-outline-grey{
	color:#808080;	
	border:1px solid #808080;
}
.btn-outline-grey:hover{
	color:#fff;
	background: #808080;
	border:1px solid #808080;
}
.btn-outline-black{
	color:#000000;	
	border:1px solid #000000;
}
.btn-outline-black:hover{
	color:#fff;
	background:#000000;	
	border:1px solid #000000;
}
.btn-outline-red{
	color:#FF0000;	
	border:1px solid #FF0000;
}
.btn-outline-red:hover{
	color: #fff;
	background: #FF0000;	
	border:1px solid #FF0000;
}
.btn-outline-maroon{
	color:  #800000;
	border:1px solid #800000;
}
.btn-outline-maroon:hover{
	color: #fff;
	background:  #800000;
	border:1px solid #800000;
}
.btn-outline-yellow{
	color:#FFFF00;	
	border:1px solid #FFFF00;
}
.btn-outline-yellow:hover{
	color: #fff;
	background: #FFFF00;	
	border:1px solid #FFFF00;
}
.btn-outline-olive{
	color: #808000;
	border:1px solid #808000;
}
.btn-outline-olive:hover{
	color: #fff;
	background:  #808000;
	border-color: #808000;
}
.btn-outline-lime{
	
	color: #00FF00;
	border:1px solid #00FF00;
}
.btn-outline-lime:hover{
	color:#fff;
	background: #00FF00;
	border:1px solid #00FF00;
}
.btn-outline-green{
	color: #008000;
	border:1px solid #008000;
}
.btn-outline-green:hover{
	background:  #008000;
	color:#fff;
	border:1px solid #008000;
}
.btn-outline-aqua{
    color: #00FFFF;
    border:1px solid #00FFFF;
}
.btn-outline-aqua:hover{
    background: #00FFFF;
    color:black;
    border:1px solid #00FFFF;
}
.btn-outline-teal{
    color: #008080;
    border:1px solid #008080;
}
.btn-outline-teal:hover{
    color: #fff;
    background: #008080;
 border:1px solid #008080;

}
.btn-outline-blue{
	    color: #0000FF;
    border:1px solid #0000FF;
}
.btn-outline-blue:hover{
	    color: #fff;
    background: #0000FF;
    border:1px solid #0000FF;
}
.btn-outline-navy{
 color: #000080;
    border:1px solid #000080;
}
.btn-outline-navy:hover{
	    color: #fff;
    background: #000080;
    border:1px solid #000080;
}
.btn-outline-fuchsia{
  color: #FF00FF;
    border:1px solid #FF00FF;
}
.btn-outline-fuchsia:hover{
	color: #fff;
    background: #FF00FF;
    border:1px solid #FF00FF;
}
.btn-outline-purple{
	
    color: #800080;
     border:1px solid #800080;
}
.btn-outline-purple:hover{
	color: #fff;
    background: #800080;
    border:1px solid #800080;
}

.peach-gradient{
	color:#fff;
	    background: linear-gradient(40deg,#ffd86f,#fc6262) !important;
}
.purple-gradient{
	color:#fff;
	    background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
}

.blue-gradient {
	color:#fff;
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
}

.aqua-gradient {
	color:#fff;
    background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}


}
<!---- padding --->
.p-5{padding:5px;}
.p-10{padding:10px;}
.p-20{padding:20px;}
.p-30{padding:30px;}
.p-40{padding:40px;}
.p-50{padding:50px;}
.p-60{padding:60px;}
.p-70{padding:70px;}
.p-80{padding:80px;}
.p-90{padding:90px;}
.p-100{padding:100px;}
<!----  padding --->
<!---- top  padding --->
.pt-5{padding-top:5px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}
.pt-50{padding-top:50px;}
.pt-60{padding-top:60px;}
.pt-70{padding-top:70px;}
.pt-80{padding-top:80px;}
.pt-90{padding-top:90px;}
.pt-100{padding-top:100px;}
<!---- top  padding --->
<!---- right  padding --->
.pr-5{padding-right:5px;}
.pr-10{padding-right:10px;}
.pr-20{padding-right:20px;}
.pr-30{padding-right:30px;}
.pr-40{padding-right:40px;}
.pr-50{padding-right:50px;}
.pr-60{padding-right:60px;}
.pr-70{padding-right:70px;}
.pr-80{padding-right:80px;}
.pr-90{padding-right:90px;}
.pr-100{padding-right:100px;}
<!---- right  padding --->

<!---- padding bottom--->
.pb-5{padding-bottom:5px;}
.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-40{padding-bottom:40px;}
.pb-50{padding-bottom:50px;}
.pb-60{padding-bottom:60px;}
.pb-70{padding-bottom:70px;}
.pb-80{padding-bottom:80px;}
.pb-90{padding-bottom:90px;}
.pb-100{padding-bottom:100px;}
<!---- padding bottom--->
<!---- padding left--->
.pl-5{padding-left:5px;}
.pl-10{padding-left:10px;}
.pl-20{padding-left:20px;}
.pl-30{padding-left:30px;}
.pl-40{padding-left:40px;}
.pl-50{padding-left:50px;}
.pl-60{padding-left:60px;}
.pl-70{padding-left:70px;}
.pl-80{padding-left:80px;}
.pl-90{padding-left:90px;}
.pl-100{padding-left:100px;}
<!---- padding left--->

<!---- margin --->
.m-5{margin:5px;}
.m-10{margin:10px;}
.m-20{margin:20px;}
.m-30{margin:30px;}
.m-40{margin:40px;}
.m-50{margin:50px;}
.m-60{margin:60px;}
.m-70{margin:70px;}
.m-80{margin:80px;}
.m-90{margin:90px;}
.m-100{margin:100px;}
<!----  margin --->

<!---- margin top --->
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}
.mt-60{margin-top:60px;}
.mt-70{margin-top:70px;}
.mt-80{margin-top:80px;}
.mt-90{margin-top:90px;}
.mt-100{margin-top:100px;}
<!---- top  margin --->

<!---- right  margin --->
.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}
.mr-40{margin-right:40px;}
.mr-50{margin-right:50px;}
.mr-60{margin-right:60px;}
.mr-70{margin-right:70px;}
.mr-80{margin-right:80px;}
.mr-90{margin-right:90px;}
.mr-100{margin-right:100px;}
<!---- right  margin --->

<!---- bottom margin--->
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-50{margin-bottom:50px;}
.mb-60{margin-bottom:60px;}
.mb-70{margin-bottom:70px;}
.mb-80{margin-bottom:80px;}
.mb-90{margin-bottom:90px;}
.mb-100{margin-bottom:100px;}
<!---- bottom margin--->

<!---- margin left--->
.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}
.ml-20{margin-left:20px;}
.ml-30{margin-left:30px;}
.ml-40{margin-left:40px;}
.ml-50{margin-left:50px;}
.ml-60{margin-left:60px;}
.ml-70{margin-left:70px;}
.ml-80{margin-left:80px;}
.ml-90{margin-left:90px;}
.ml-100{margin-left:100px;}
<!---- margin left--->


<!---- Font Size--->
.f-10{font-size:10px;}
.f-20{font-size:20px;}
.f-30{font-size:30px;}
.f-40{font-size:40px;}
.f-50{font-size:50px;}
.f-60{font-size:60px;}
.f-70{font-size:70px;}
.f-80{font-size:80px;}
.f-90{font-size:90px;}
.f-100{font-size:100px;}
<!---- Font Size--->


